body {
    background-color: #444;
}

.outer {
    padding: 50px;
    background-color: lightcoral;
}
.middle {
    padding: 50px;
    background-color: lightseagreen;
}
.inner {
    padding: 50px;
    background-color: lightgoldenrodyellow;
}

p {
    font-size: 40px;
}