body {
    background-color: #333;
}

.outer {
    padding: 50px;
    background-color: lightcoral;
}
.middle {
    padding: 50px;
    background-color: lightseagreen;
}
.inner {
    padding: 50px;
    background-color: lightgoldenrodyellow;
}

.error {
    color: red;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form button {
    width: 100px;
}

.input-group {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}